[Unit]
Description=Ruck EC PWM Controll Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/SmartHome/YOURDIR/api.py
WorkingDirectory=/home/pi/SmartHome/YOURDIRl
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=airctl
Restart=always

[Install]
WantedBy=multi-user.target
