[Unit]
Description=Ruck EC PWM Controll Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/ruckecapi/api.py
WorkingDirectory=/opt/ruckecapi/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier="Ruck EC WEB-Api"
Restart=always

[Install]
WantedBy=multi-user.target
